# Node modules
node_modules
npm-debug.log

# Output
dist
build

# OS / IDE junk files
.DS_Store
.idea
.vscode
*.swp

# Git
.git
.gitignore

# Environment variables
.env
.env.*

# Docker / PostgreSQL data
pgdata
redis-data
kafka-data